{
    "production": [TODO],
    "staging": [TODO],
    "dev": [TODO],
    "mainAppApiUrl": [TODO],
    "createAccountUrl": [TODO],
  
    "geoserverMapServiceUrl": [TODO],

    "auth0Configuration": {
      "domain": [TODO],
      "clientId": [TODO],
      "audience": [TODO]
    }
  }