<button
    class="btn btn-sm btn-nebula"
    popoverClass="popover-fixed-width"
    [autoClose]="false"
    triggers="manual"
    #p="ngbPopover"
    [ngbPopover]="popContent"
    [placement]="['top-end', 'top', 'bottom-end', 'bottom']"
    (click)="openPopoverAndSelectText()"
>
    Link to this analysis
</button>

<ng-template #popContent>
    <input
        id="linkText"
        style="width: 100%"
        type="text"
        readonly
        [value]="linkText"
        (click)="selectPopoverText()"
    />
</ng-template>
